[Desktop Entry]
Encoding=UTF-8
Name=Link to Add another account
Type=Link
URL=https://accounts.google.com/AddSession?hl=en&continue=https://www.google.com%3Fhl%3Den-US&ec=GAlA8wE
Icon=text-html
